<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Qibla
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <!-- <strong>DeviceOrientationCompassHeading</strong> -->
    <img src="assets/compass.png" width="200em" [ngStyle]="{'transform': 'rotate('+(qiblaLocation*-1)+'deg)'}">
    <p>Current Location<br>{{!!currentLocation ? "["+currentLocation.coords.latitude+","+currentLocation.coords.longitude+"]" : 'Not Allowed'}}</p>
  </div>
</ion-content>
